.wrap{
  padding:10px;
}

.corps{
  text-decoration: none !important;
  cursor: pointer;
}

.text {
  text-decoration: none !important;
}

.body{
  
    display: inline-block;
    width: 20%;
    min-width: 190px;
    max-width: 200px;
    max-height: 200px;
    background-color: #fff;
    border: 0px;
    border-top: 10px;
    border-color: #c8092f;
    border-style: solid;
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 0.2);
    height: 100%;
  }
  
  .text {
    padding-bottom: 3%;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.5;
    color: #1a202c;
    min-width: 50px;
    word-wrap: break-word;

  }
  
 .img {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
.body:hover {
    transition: all 0.1s linear;
    background-color: #c8092f;
  }
.body:hover .text {
    transition: all 0.1s linear;
    color: #fff;
  }
  .body:hover .svg_ {
    transition: all 0.1s linear;
    color: #fff !important;
  }
  .svg_{
    
    height: 40px;
    width: 40px;
  }
  