.video-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .video-responsive iframe {
    left: 1%;
    top: 2%;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
  