.contactSection{
    margin:3em;
    display:flex;
    justify-content: center;
}

.contactContainer{
    display:flex;
    justify-content: center;
    max-width: 1280px;
    width: 1280px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.contactForm{
    padding: 3rem;
    width: 100%;
}

.contactInputContainer{
    display: grid;
    gap:1em;
    grid-template-columns: 1fr 1fr;
}

.InputContainer{
    margin: 2em;
}

.contactInput{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    font-family: "Open Sans", sans-serif;
    color: #858585;
    font-weight: lighter;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input:hover, input:focus, input:active:focus, textarea:active:focus, textarea:focus, textarea:hover{
    color: #272727;
    outline: none;
    border-bottom: 1px solid #272727;
}

input, textarea{
    height: 50px;   
    border: none;
    width: 100%;
}

.InputContainer a button.custom-btn.btn-6{
    width: 100%;
    margin:0;
}


.map{
    height: 100%;
}

.iconsContainer{
    display: flex;
    justify-content: space-around;
}

.iconsContainer div p{
    margin-top: 5px !important;
}