.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btn_group{
  display: flex;
  flex-wrap : wrap;
  padding: 10% 10% 0% 10%;;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.GroupOfIcons{
  height: 300px;
  display: flex;
}
.App-header{
  background-image: url('./components/Ile_de_Brehat.png');
  width: 100%;
  padding-top: 22%;
  background-size: cover;
  background-repeat: no-repeat;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.contenantFlex{
  display: flex;
}

.centerFlex{
  justify-content: center;
}

.flewWrap{
  flex-wrap: wrap;
}

.mgCaro{
  margin:15px;
}